In [1]:
#For the import of packages
import numpy as np
import pandas as pd
from qiime2 import Visualization
import matplotlib.pyplot as plt
import qiime2 as q2

data_dir = "data/"

In [2]:
#data import
! wget -nv -O $data_dir/sequences_demux_paired.qza 'https://polybox.ethz.ch/index.php/s/KEQxsekRow6lOAz/download'
! wget -nv -O $data_dir/metadata.tsv 'https://polybox.ethz.ch/index.php/s/RVPyoVYUBeVQFrJ/download'

2022-10-10 16:42:57 URL:https://polybox.ethz.ch/index.php/s/KEQxsekRow6lOAz/download [8529260946/8529260946] -> "data//sequences_demux_paired.qza" [1]
2022-10-10 16:43:01 URL:https://polybox.ethz.ch/index.php/s/RVPyoVYUBeVQFrJ/download [325995/325995] -> "data//metadata.tsv" [1]

In [2]:
df_meta = pd.read_csv('data/metadata.tsv', sep='\t')
df_meta

,id,Library Layout,Instrument,collection_date,geo_location_name,geo_latitude,geo_longitude,host_id,age_days,weight_kg,...,birth_length_cm,sex,delivery_mode,zygosity,race,ethnicity,delivery_preterm,diet_milk,diet_weaning,age_months
0,ERR1314182,PAIRED,Illumina MiSeq,2011-11-11 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,42.1,232.0,NaN,...,47.0,male,Cesarean,Monozygotic,Caucasian,Not Hispanic,True,fd,True,8.0
1,ERR1314183,PAIRED,Illumina MiSeq,2010-12-11 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,27.2,192.0,NaN,...,45.0,female,Cesarean,Dizygotic,Caucasian,Hispanic,True,fd,True,6.0
2,ERR1314184,PAIRED,Illumina MiSeq,2011-12-11 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,28.1,536.0,NaN,...,51.0,female,Cesarean,Monozygotic,Caucasian,Not Hispanic,False,NaN,NaN,18.0
3,ERR1314185,PAIRED,Illumina MiSeq,2011-12-11 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,28.2,537.0,NaN,...,50.0,female,Cesarean,Monozygotic,Caucasian,Not Hispanic,False,NaN,NaN,18.0
4,ERR1314186,PAIRED,Illumina MiSeq,2013-01-12 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,39.2,688.0,NaN,...,48.0,male,Cesarean,Monozygotic,African-American,Not Hispanic,True,NaN,NaN,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1664,ERR1310705,PAIRED,Illumina MiSeq,2010-07-31 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,26.1,74.0,NaN,...,49.0,female,Vaginal,Dizygotic,Caucasian,Not Hispanic,False,fd,False,2.0
1665,ERR1310707,PAIRED,Illumina MiSeq,2011-02-07 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,27.1,250.0,NaN,...,45.0,female,Cesarean,Dizygotic,Caucasian,Hispanic,True,fd,True,8.0
1666,ERR1310708,PAIRED,Illumina MiSeq,2011-04-09 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,27.1,310.0,NaN,...,45.0,female,Cesarean,Dizygotic,Caucasian,Hispanic,True,fd,True,10.0
1667,ERR1310709,PAIRED,Illumina MiSeq,2012-01-18 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,27.1,594.0,NaN,...,45.0,female,Cesarean,Dizygotic,Caucasian,Hispanic,True,NaN,NaN,20.0
1668,ERR1310706,PAIRED,Illumina MiSeq,2010-07-31 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,26.2,73.0,NaN,...,49.0,female,Vaginal,Dizygotic,Caucasian,Not Hispanic,False,fd,False,2.0

In [10]:
#first lose all host_id duplicates
#here this is not problematic because the columns of interest (preterm. delivery_mode, birth weight etc.) are all the same for each host_id
df_meta_red = df_meta.drop_duplicates(subset=['host_id'])
df_meta_red

,id,Library Layout,Instrument,collection_date,geo_location_name,geo_latitude,geo_longitude,host_id,age_days,weight_kg,...,birth_length_cm,sex,delivery_mode,zygosity,race,ethnicity,delivery_preterm,diet_milk,diet_weaning,age_months
0,ERR1314182,PAIRED,Illumina MiSeq,2011-11-11 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,42.1,232.0,NaN,...,47.0,male,Cesarean,Monozygotic,Caucasian,Not Hispanic,True,fd,True,8.0
1,ERR1314183,PAIRED,Illumina MiSeq,2010-12-11 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,27.2,192.0,NaN,...,45.0,female,Cesarean,Dizygotic,Caucasian,Hispanic,True,fd,True,6.0
2,ERR1314184,PAIRED,Illumina MiSeq,2011-12-11 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,28.1,536.0,NaN,...,51.0,female,Cesarean,Monozygotic,Caucasian,Not Hispanic,False,NaN,NaN,18.0
3,ERR1314185,PAIRED,Illumina MiSeq,2011-12-11 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,28.2,537.0,NaN,...,50.0,female,Cesarean,Monozygotic,Caucasian,Not Hispanic,False,NaN,NaN,18.0
4,ERR1314186,PAIRED,Illumina MiSeq,2013-01-12 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,39.2,688.0,NaN,...,48.0,male,Cesarean,Monozygotic,African-American,Not Hispanic,True,NaN,NaN,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
936,ERR1310645,PAIRED,Illumina MiSeq,2010-10-23 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,19.1,182.0,6.917,...,47.0,male,Cesarean,Monozygotic,Caucasian,Not Hispanic,True,bd,True,6.0
946,ERR1310554,PAIRED,Illumina MiSeq,2012-04-14 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,24.2,710.0,13.353,...,48.0,male,Cesarean,Dizygotic,Caucasian,Not Hispanic,False,NaN,NaN,23.0
956,ERR1310464,PAIRED,Illumina MiSeq,2010-09-03 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,11.2,156.0,NaN,...,50.0,male,Vaginal,Dizygotic,Caucasian,Not Hispanic,False,fd,True,5.0
995,ERR1310538,PAIRED,Illumina MiSeq,2011-07-19 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,24.1,441.0,11.751,...,48.0,male,Cesarean,Dizygotic,Caucasian,Not Hispanic,False,NaN,NaN,14.0
1222,ERR1310062,PAIRED,Illumina MiSeq,2010-10-24 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,26.1,158.0,NaN,...,49.0,female,Vaginal,Dizygotic,Caucasian,Not Hispanic,False,fd,True,5.0

1. Differences in birth weight in preterm and non-preterm delivery babies

In [12]:
preterm = df_meta_red[df_meta_red['delivery_preterm'] == True]
notpreterm = df_meta_red[df_meta_red['delivery_preterm'] == False]
#calculate average
preterm_weight = preterm['birth_weight_g'].mean()
notpreterm_weight = notpreterm['birth_weight_g'].mean()

print('Preterm average weight:', preterm_weight)
print('Non-preterm average weight:', notpreterm_weight)
print('Difference:', preterm_weight - notpreterm_weight)

Preterm average weight: 2404.6190476190477
Non-preterm average weight: 2813.9473684210525
Difference: -409.3283208020048

2. Differences in birth height in preterm and non-preterm delivery babies

In [13]:
#calculate average
preterm_length = preterm['birth_length_cm'].mean()
notpreterm_length = notpreterm['birth_length_cm'].mean()

print('Preterm average length:', preterm_length)
print('Non-preterm average length:', notpreterm_length)
print('Difference:', preterm_length - notpreterm_length)

Preterm average length: 47.19047619047619
Non-preterm average length: 49.36842105263158
Difference: -2.1779448621553925

3. Preterm delivery and delivery mode

In [9]:
ces = df_meta[df_meta['delivery_mode'] == 'Cesarean'].drop_duplicates(subset=['host_id'])
vag = df_meta[df_meta['delivery_mode'] == 'Vaginal'].drop_duplicates(subset=['host_id'])
emerg = df_meta[df_meta['delivery_mode'] == 'Cesarean_emergency'].drop_duplicates(subset=['host_id'])

ces_tot = ces['id'].nunique()
vag_tot = vag['id'].nunique()
emerg_tot = emerg['id'].nunique()

ces_pre = ces['delivery_preterm'].sum()
vag_pre = vag['delivery_preterm'].sum()
emerg_pre = emerg['delivery_preterm'].sum()

print('Percentage of preterm delivery in different delivery modes:')
print('Cesarean:', (ces_pre/ces_tot)*100)
print('Vaginal:', (vag_pre/vag_tot)*100)
print('Cesarean Emergency:', (emerg_pre/emerg_tot)*100)

Percentage of preterm delivery in different delivery modes:
Cesarean: 58.333333333333336
Vaginal: 41.37931034482759
Cesarean Emergency: 66.66666666666666

In [4]:
ces = df_meta[df_meta['delivery_mode'] == 'Cesarean'].drop_duplicates(subset=['host_id'])
ces

,id,Library Layout,Instrument,collection_date,geo_location_name,geo_latitude,geo_longitude,host_id,age_days,weight_kg,...,birth_length_cm,sex,delivery_mode,zygosity,race,ethnicity,delivery_preterm,diet_milk,diet_weaning,age_months
0,ERR1314182,PAIRED,Illumina MiSeq,2011-11-11 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,42.1,232.0,NaN,...,47.0,male,Cesarean,Monozygotic,Caucasian,Not Hispanic,True,fd,True,8.0
1,ERR1314183,PAIRED,Illumina MiSeq,2010-12-11 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,27.2,192.0,NaN,...,45.0,female,Cesarean,Dizygotic,Caucasian,Hispanic,True,fd,True,6.0
2,ERR1314184,PAIRED,Illumina MiSeq,2011-12-11 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,28.1,536.0,NaN,...,51.0,female,Cesarean,Monozygotic,Caucasian,Not Hispanic,False,NaN,NaN,18.0
3,ERR1314185,PAIRED,Illumina MiSeq,2011-12-11 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,28.2,537.0,NaN,...,50.0,female,Cesarean,Monozygotic,Caucasian,Not Hispanic,False,NaN,NaN,18.0
4,ERR1314186,PAIRED,Illumina MiSeq,2013-01-12 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,39.2,688.0,NaN,...,48.0,male,Cesarean,Monozygotic,African-American,Not Hispanic,True,NaN,NaN,23.0
15,ERR1314200,PAIRED,Illumina MiSeq,2012-05-12 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,4.1,878.0,NaN,...,48.0,female,Cesarean,Dizygotic,Caucasian,Not Hispanic,True,NaN,NaN,29.0
16,ERR1314201,PAIRED,Illumina MiSeq,2012-05-12 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,4.2,878.0,NaN,...,49.0,male,Cesarean,Dizygotic,Caucasian,Not Hispanic,True,NaN,NaN,29.0
19,ERR1314204,PAIRED,Illumina MiSeq,2011-06-12 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,30.2,326.0,NaN,...,41.0,female,Cesarean,Monozygotic,Caucasian,Not Hispanic,True,fd,True,11.0
20,ERR1314205,PAIRED,Illumina MiSeq,2011-06-12 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,36.1,184.0,NaN,...,50.0,male,Cesarean,Monozygotic,Caucasian,Not Hispanic,True,fd,True,6.0
21,ERR1314206,PAIRED,Illumina MiSeq,2011-06-12 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,36.2,184.0,NaN,...,49.0,male,Cesarean,Monozygotic,Caucasian,Not Hispanic,True,fd,True,6.0
27,ERR1314146,PAIRED,Illumina MiSeq,2012-06-11 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,30.1,692.0,10.433,...,42.0,female,Cesarean,Monozygotic,Caucasian,Not Hispanic,True,NaN,NaN,23.0
28,ERR1314147,PAIRED,Illumina MiSeq,2012-07-11 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,33.1,673.0,NaN,...,52.0,female,Cesarean,Dizygotic,Caucasian,Not Hispanic,False,NaN,NaN,22.0
29,ERR1314148,PAIRED,Illumina MiSeq,2012-07-11 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,33.2,673.0,NaN,...,48.0,female,Cesarean,Dizygotic,Caucasian,Not Hispanic,False,NaN,NaN,22.0
30,ERR1314149,PAIRED,Illumina MiSeq,2012-07-11 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,43.2,452.0,9.044,...,49.0,male,Cesarean,Monozygotic,Caucasian,Not Hispanic,False,NaN,NaN,15.0
31,ERR1314150,PAIRED,Illumina MiSeq,2012-07-11 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,44.1,437.0,NaN,...,52.0,male,Cesarean,Monozygotic,Caucasian,Not Hispanic,True,NaN,NaN,14.0
32,ERR1314151,PAIRED,Illumina MiSeq,2012-07-11 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,44.2,437.0,NaN,...,49.0,male,Cesarean,Monozygotic,Caucasian,Not Hispanic,True,NaN,NaN,14.0
33,ERR1314152,PAIRED,Illumina MiSeq,2012-07-11 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,45.1,427.0,11.170,...,49.0,male,Cesarean,Dizygotic,African-American,Not Hispanic,False,NaN,NaN,14.0
34,ERR1314153,PAIRED,Illumina MiSeq,2012-07-11 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,45.2,427.0,NaN,...,49.0,male,Cesarean,Dizygotic,African-American,Not Hispanic,False,NaN,NaN,14.0
37,ERR1314165,PAIRED,Illumina MiSeq,2011-09-11 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,5.1,615.0,NaN,...,51.0,male,Cesarean,Dizygotic,Caucasian,Not Hispanic,False,NaN,NaN,20.0
43,ERR1314213,PAIRED,Illumina MiSeq,2011-07-12 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,37.1,174.0,NaN,...,48.0,female,Cesarean,Monozygotic,Caucasian,Not Hispanic,True,fd,True,6.0
44,ERR1314248,PAIRED,Illumina MiSeq,2012-10-12 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,37.2,631.0,NaN,...,39.0,female,Cesarean,Monozygotic,Caucasian,Not Hispanic,True,NaN,NaN,21.0
45,ERR1314249,PAIRED,Illumina MiSeq,2011-10-12 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,39.1,230.0,NaN,...,47.0,male,Cesarean,Monozygotic,African-American,Not Hispanic,True,fd,True,8.0
50,ERR1314260,PAIRED,Illumina MiSeq,2011-11-12 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,46.1,171.0,NaN,...,52.0,male,Cesarean,Dizygotic,African-American,Not Hispanic,False,fd,True,6.0
67,ERR1314216,PAIRED,Illumina MiSeq,2012-07-12 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,43.1,453.0,NaN,...,50.0,male,Cesarean,Monozygotic,Caucasian,Not Hispanic,False,NaN,NaN,15.0
86,ERR1314060,PAIRED,Illumina MiSeq,2012-12-09 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,42.2,625.0,NaN,...,47.0,male,Cesarean,Monozygotic,Caucasian,Not Hispanic,True,NaN,NaN,21.0
89,ERR1314063,PAIRED,Illumina MiSeq,2011-12-09 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,46.2,199.0,NaN,...,50.0,male,Cesarean,Dizygotic,African-American,Not Hispanic,False,fd,True,7.0
102,ERR1314033,PAIRED,Illumina MiSeq,2010-07-09 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,5.2,186.0,6.747,...,46.0,male,Cesarean,Dizygotic,Caucasian,Not Hispanic,False,fd,True,6.0
110,ERR1314114,PAIRED,Illumina MiSeq,2012-10-10 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,27.1,860.0,NaN,...,45.0,female,Cesarean,Dizygotic,Caucasian,Hispanic,True,NaN,NaN,28.0
163,ERR1314627,PAIRED,Illumina MiSeq,2011-12-14 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,48.2,136.0,NaN,...,47.0,female,Cesarean,Monozygotic,Caucasian,Hispanic,True,bd,False,4.0
195,ERR1314457,PAIRED,Illumina MiSeq,2012-04-14 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,48.1,257.0,NaN,...,47.0,female,Cesarean,Monozygotic,Caucasian,Hispanic,True,fd,True,8.0
228,ERR1313469,PAIRED,Illumina MiSeq,2012-04-05 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,32.1,618.0,NaN,...,50.0,male,Cesarean,Monozygotic,Caucasian,Not Hispanic,True,NaN,NaN,20.0
229,ERR1313470,PAIRED,Illumina MiSeq,2012-04-05 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,32.2,619.0,NaN,...,53.0,male,Cesarean,Monozygotic,Caucasian,Not Hispanic,True,NaN,NaN,20.0
576,ERR1311544,PAIRED,Illumina MiSeq,2012-10-25 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,13.2,962.0,NaN,...,47.0,female,Cesarean,Monozygotic,Caucasian,Not Hispanic,False,NaN,NaN,32.0
600,ERR1311513,PAIRED,Illumina MiSeq,2011-06-08 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,10.1,463.0,9.299,...,47.0,female,Cesarean,Dizygotic,Caucasian,Not Hispanic,True,NaN,NaN,15.0
603,ERR1311516,PAIRED,Illumina MiSeq,2010-06-11 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,10.2,101.0,NaN,...,46.0,male,Cesarean,Dizygotic,Caucasian,Not Hispanic,True,bd,False,3.0
617,ERR1311530,PAIRED,Illumina MiSeq,2010-08-02 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,13.1,146.0,NaN,...,49.0,female,Cesarean,Monozygotic,Caucasian,Not Hispanic,False,fd,False,5.0
836,ERR1310613,PAIRED,Illumina MiSeq,2013-02-05 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,16.1,1053.0,NaN,...,42.0,female,Cesarean,Dizygotic,Caucasian,Not Hispanic,True,NaN,NaN,35.0
881,ERR1310658,PAIRED,Illumina MiSeq,2010-10-23 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,2.1,337.0,NaN,...,53.0,male,Cesarean,Dizygotic,Caucasian,Not Hispanic,False,fd,True,11.0
883,ERR1310660,PAIRED,Illumina MiSeq,2012-12-18 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,2.2,1124.0,NaN,...,50.0,male,Cesarean,Dizygotic,Caucasian,Not Hispanic,False,NaN,NaN,37.0
888,ERR1310665,PAIRED,Illumina MiSeq,2011-01-28 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,20.1,283.0,NaN,...,52.0,male,Cesarean,Monozygotic,Caucasian,Not Hispanic,True,bd,True,9.0
891,ERR1310668,PAIRED,Illumina MiSeq,2011-11-08 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,20.2,566.0,NaN,...,51.0,male,Cesarean,Monozygotic,Caucasian,Not Hispanic,True,NaN,NaN,19.0
913,ERR1310656,PAIRED,Illumina MiSeq,2012-12-16 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,19.2,967.0,NaN,...,49.0,male,Cesarean,Monozygotic,Caucasian,Not Hispanic,True,NaN,NaN,32.0
915,ERR1310624,PAIRED,Illumina MiSeq,2013-02-05 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,16.2,1053.0,NaN,...,47.0,female,Cesarean,Dizygotic,Caucasian,Not Hispanic,True,NaN,NaN,35.0
931,ERR1310640,PAIRED,Illumina MiSeq,2013-01-10 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,18.1,1015.0,NaN,...,47.0,female,Cesarean,Dizygotic,African-American,Not Hispanic,False,NaN,NaN,33.0
934,ERR1310643,PAIRED,Illumina MiSeq,2013-01-10 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,18.2,1015.0,NaN,...,49.0,female,Cesarean,Dizygotic,African-American,Not Hispanic,False,NaN,NaN,33.0
936,ERR1310645,PAIRED,Illumina MiSeq,2010-10-23 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,19.1,182.0,6.917,...,47.0,male,Cesarean,Monozygotic,Caucasian,Not Hispanic,True,bd,True,6.0
946,ERR1310554,PAIRED,Illumina MiSeq,2012-04-14 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,24.2,710.0,13.353,...,48.0,male,Cesarean,Dizygotic,Caucasian,Not Hispanic,False,NaN,NaN,23.0
995,ERR1310538,PAIRED,Illumina MiSeq,2011-07-19 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,24.1,441.0,11.751,...,48.0,male,Cesarean,Dizygotic,Caucasian,Not Hispanic,False,NaN,NaN,14.0