treatment of the meta data

In [3]:
#load the essential packages
import numpy as np
import pandas as pd
from qiime2 import Visualization
import matplotlib.pyplot as plt
import qiime2 as q2

In [5]:
data_dir = "../data/"

In [10]:
metadf = pd.read_csv('../data/metadata.tsv', sep='\t')

In [11]:
#get an overview of the data
metadf.head(5)

,id,Library Layout,Instrument,collection_date,geo_location_name,geo_latitude,geo_longitude,host_id,age_days,weight_kg,...,birth_length_cm,sex,delivery_mode,zygosity,race,ethnicity,delivery_preterm,diet_milk,diet_weaning,age_months
0,ERR1314182,PAIRED,Illumina MiSeq,2011-11-11 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,42.1,232.0,NaN,...,47.0,male,Cesarean,Monozygotic,Caucasian,Not Hispanic,True,fd,True,8.0
1,ERR1314183,PAIRED,Illumina MiSeq,2010-12-11 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,27.2,192.0,NaN,...,45.0,female,Cesarean,Dizygotic,Caucasian,Hispanic,True,fd,True,6.0
2,ERR1314184,PAIRED,Illumina MiSeq,2011-12-11 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,28.1,536.0,NaN,...,51.0,female,Cesarean,Monozygotic,Caucasian,Not Hispanic,False,NaN,NaN,18.0
3,ERR1314185,PAIRED,Illumina MiSeq,2011-12-11 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,28.2,537.0,NaN,...,50.0,female,Cesarean,Monozygotic,Caucasian,Not Hispanic,False,NaN,NaN,18.0
4,ERR1314186,PAIRED,Illumina MiSeq,2013-01-12 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,39.2,688.0,NaN,...,48.0,male,Cesarean,Monozygotic,African-American,Not Hispanic,True,NaN,NaN,23.0

In [13]:
#/
#I didn't get why we drop the host id here not for the whole data frame?
#which shows that there're no replicates in this dataframe
metadf_dr = metadf.drop_duplicates()

In [14]:
#and then check the results:
metadf_dr.shape[0]

1669

In [15]:
metadf.shape[0]

1669

In [17]:
#get the column names
metadf.columns.tolist()

['id',
 'Library Layout',
 'Instrument',
 'collection_date',
 'geo_location_name',
 'geo_latitude',
 'geo_longitude',
 'host_id',
 'age_days',
 'weight_kg',
 'length_cm',
 'WAZ',
 'HAZ',
 'WHZ',
 'BMI',
 'birth_weight_g',
 'birth_length_cm',
 'sex',
 'delivery_mode',
 'zygosity',
 'race',
 'ethnicity',
 'delivery_preterm',
 'diet_milk',
 'diet_weaning',
 'age_months']

In [21]:
#here do some checkings
#1. collecting time 
#get the collecting date info
metadf['collection_date'].sort_values().unique()

array(['2010-02-03 00:00:00', '2010-02-04 00:00:00',
       '2010-02-21 00:00:00', '2010-03-01 00:00:00',
       '2010-03-03 00:00:00', '2010-03-07 00:00:00',
       '2010-03-11 00:00:00', '2010-03-20 00:00:00',
       '2010-03-25 00:00:00', '2010-03-26 00:00:00',
       '2010-04-02 00:00:00', '2010-04-04 00:00:00',
       '2010-04-08 00:00:00', '2010-04-11 00:00:00',
       '2010-04-16 00:00:00', '2010-04-17 00:00:00',
       '2010-04-18 00:00:00', '2010-04-23 00:00:00',
       '2010-04-24 00:00:00', '2010-04-25 00:00:00',
       '2010-04-26 00:00:00', '2010-04-27 00:00:00',
       '2010-04-30 00:00:00', '2010-05-04 00:00:00',
       '2010-05-06 00:00:00', '2010-05-08 00:00:00',
       '2010-05-10 00:00:00', '2010-05-11 00:00:00',
       '2010-05-15 00:00:00', '2010-05-17 00:00:00',
       '2010-05-18 00:00:00', '2010-05-26 00:00:00',
       '2010-05-28 00:00:00', '2010-05-29 00:00:00',
       '2010-06-01 00:00:00', '2010-06-05 00:00:00',
       '2010-06-06 00:00:00', '2010-06-08 00:00:00',
       '2010-06-09 00:00:00', '2010-06-11 00:00:00',
       '2010-06-12 00:00:00', '2010-06-13 00:00:00',
       '2010-06-14 00:00:00', '2010-06-15 00:00:00',
       '2010-06-17 00:00:00', '2010-06-22 00:00:00',
       '2010-06-23 00:00:00', '2010-06-25 00:00:00',
       '2010-06-26 00:00:00', '2010-06-27 00:00:00',
       '2010-06-29 00:00:00', '2010-06-30 00:00:00',
       '2010-07-01 00:00:00', '2010-07-06 00:00:00',
       '2010-07-08 00:00:00', '2010-07-09 00:00:00',
       '2010-07-13 00:00:00', '2010-07-14 00:00:00',
       '2010-07-16 00:00:00', '2010-07-17 00:00:00',
       '2010-07-20 00:00:00', '2010-07-21 00:00:00',
       '2010-07-22 00:00:00', '2010-07-26 00:00:00',
       '2010-07-27 00:00:00', '2010-07-28 00:00:00',
       '2010-07-29 00:00:00', '2010-07-30 00:00:00',
       '2010-07-31 00:00:00', '2010-08-02 00:00:00',
       '2010-08-04 00:00:00', '2010-08-06 00:00:00',
       '2010-08-08 00:00:00', '2010-08-12 00:00:00',
       '2010-08-13 00:00:00', '2010-08-14 00:00:00',
       '2010-08-15 00:00:00', '2010-08-17 00:00:00',
       '2010-08-18 00:00:00', '2010-08-21 00:00:00',
       '2010-08-22 00:00:00', '2010-08-23 00:00:00',
       '2010-08-27 00:00:00', '2010-08-29 00:00:00',
       '2010-08-30 00:00:00', '2010-09-03 00:00:00',
       '2010-09-04 00:00:00', '2010-09-05 00:00:00',
       '2010-09-07 00:00:00', '2010-09-09 00:00:00',
       '2010-09-11 00:00:00', '2010-09-12 00:00:00',
       '2010-09-13 00:00:00', '2010-09-14 00:00:00',
       '2010-09-15 00:00:00', '2010-09-16 00:00:00',
       '2010-09-18 00:00:00', '2010-09-21 00:00:00',
       '2010-09-24 00:00:00', '2010-09-25 00:00:00',
       '2010-09-28 00:00:00', '2010-09-30 00:00:00',
       '2010-10-01 00:00:00', '2010-10-05 00:00:00',
       '2010-10-06 00:00:00', '2010-10-08 00:00:00',
       '2010-10-09 00:00:00', '2010-10-10 00:00:00',
       '2010-10-11 00:00:00', '2010-10-13 00:00:00',
       '2010-10-14 00:00:00', '2010-10-16 00:00:00',
       '2010-10-18 00:00:00', '2010-10-19 00:00:00',
       '2010-10-20 00:00:00', '2010-10-21 00:00:00',
       '2010-10-22 00:00:00', '2010-10-23 00:00:00',
       '2010-10-24 00:00:00', '2010-10-25 00:00:00',
       '2010-10-26 00:00:00', '2010-10-29 00:00:00',
       '2010-11-01 00:00:00', '2010-11-05 00:00:00',
       '2010-11-06 00:00:00', '2010-11-07 00:00:00',
       '2010-11-10 00:00:00', '2010-11-11 00:00:00',
       '2010-11-12 00:00:00', '2010-11-14 00:00:00',
       '2010-11-15 00:00:00', '2010-11-16 00:00:00',
       '2010-11-17 00:00:00', '2010-11-18 00:00:00',
       '2010-11-19 00:00:00', '2010-11-20 00:00:00',
       '2010-11-22 00:00:00', '2010-11-24 00:00:00',
       '2010-11-26 00:00:00', '2010-11-29 00:00:00',
       '2010-11-30 00:00:00', '2010-12-01 00:00:00',
       '2010-12-02 00:00:00', '2010-12-03 00:00:00',
       '2010-12-04 00:00:00', '2010-12-05 00:00:00',
       '2010-12-08 00:00:00', '2010-12-09 00:00:00',
       '2010-12-10 00:00:00', '2010-12-11 00:00:00',
       '2010-12-12 00:00:00', '2010-12-13 00:00:00',
       '2010-12-18 00:00:00', '2010-12-19 00:00:00',
       '2010-12-20 00:00:00', '2010-12-21 00:00:00',
       '2010-12-22 00:00:00', '2010-12-24 00:00:00',
       '2010-12-26 00:00:00', '2010-12-27 00:00:00',
       '2010-12-28 00:00:00', '2010-12-30 00:00:00',
       '2010-12-31 00:00:00', '2011-01-01 00:00:00',
       '2011-01-02 00:00:00', '2011-01-03 00:00:00',
       '2011-01-05 00:00:00', '2011-01-07 00:00:00',
       '2011-01-08 00:00:00', '2011-01-09 00:00:00',
       '2011-01-10 00:00:00', '2011-01-11 00:00:00',
       '2011-01-12 00:00:00', '2011-01-13 00:00:00',
       '2011-01-14 00:00:00', '2011-01-15 00:00:00',
       '2011-01-16 00:00:00', '2011-01-17 00:00:00',
       '2011-01-19 00:00:00', '2011-01-21 00:00:00',
       '2011-01-23 00:00:00', '2011-01-25 00:00:00',
       '2011-01-26 00:00:00', '2011-01-27 00:00:00',
       '2011-01-28 00:00:00', '2011-01-29 00:00:00',
       '2011-01-30 00:00:00', '2011-02-03 00:00:00',
       '2011-02-04 00:00:00', '2011-02-05 00:00:00',
       '2011-02-06 00:00:00', '2011-02-07 00:00:00',
       '2011-02-08 00:00:00', '2011-02-09 00:00:00',
       '2011-02-11 00:00:00', '2011-02-12 00:00:00',
       '2011-02-13 00:00:00', '2011-02-14 00:00:00',
       '2011-02-17 00:00:00', '2011-02-18 00:00:00',
       '2011-02-19 00:00:00', '2011-02-20 00:00:00',
       '2011-02-22 00:00:00', '2011-02-23 00:00:00',
       '2011-02-24 00:00:00', '2011-02-25 00:00:00',
       '2011-02-26 00:00:00', '2011-02-27 00:00:00',
       '2011-02-28 00:00:00', '2011-03-02 00:00:00',
       '2011-03-03 00:00:00', '2011-03-05 00:00:00',
       '2011-03-06 00:00:00', '2011-03-07 00:00:00',
       '2011-03-12 00:00:00', '2011-03-13 00:00:00',
       '2011-03-14 00:00:00', '2011-03-15 00:00:00',
       '2011-03-16 00:00:00', '2011-03-17 00:00:00',
       '2011-03-19 00:00:00', '2011-03-20 00:00:00',
       '2011-03-21 00:00:00', '2011-03-22 00:00:00',
       '2011-03-23 00:00:00', '2011-03-24 00:00:00',
       '2011-03-26 00:00:00', '2011-03-28 00:00:00',
       '2011-03-29 00:00:00', '2011-03-30 00:00:00',
       '2011-04-01 00:00:00', '2011-04-02 00:00:00',
       '2011-04-03 00:00:00', '2011-04-07 00:00:00',
       '2011-04-08 00:00:00', '2011-04-09 00:00:00',
       '2011-04-10 00:00:00', '2011-04-11 00:00:00',
       '2011-04-12 00:00:00', '2011-04-13 00:00:00',
       '2011-04-16 00:00:00', '2011-04-17 00:00:00',
       '2011-04-19 00:00:00', '2011-04-21 00:00:00',
       '2011-04-22 00:00:00', '2011-04-23 00:00:00',
       '2011-04-24 00:00:00', '2011-04-27 00:00:00',
       '2011-04-28 00:00:00', '2011-04-30 00:00:00',
       '2011-05-01 00:00:00', '2011-05-02 00:00:00',
       '2011-05-03 00:00:00', '2011-05-04 00:00:00',
       '2011-05-05 00:00:00', '2011-05-07 00:00:00',
       '2011-05-08 00:00:00', '2011-05-11 00:00:00',
       '2011-05-13 00:00:00', '2011-05-14 00:00:00',
       '2011-05-15 00:00:00', '2011-05-16 00:00:00',
       '2011-05-17 00:00:00', '2011-05-18 00:00:00',
       '2011-05-19 00:00:00', '2011-05-20 00:00:00',
       '2011-05-22 00:00:00', '2011-05-23 00:00:00',
       '2011-05-24 00:00:00', '2011-05-25 00:00:00',
       '2011-05-27 00:00:00', '2011-05-28 00:00:00',
       '2011-06-02 00:00:00', '2011-06-03 00:00:00',
       '2011-06-04 00:00:00', '2011-06-05 00:00:00',
       '2011-06-06 00:00:00', '2011-06-07 00:00:00',
       '2011-06-08 00:00:00', '2011-06-09 00:00:00',
       '2011-06-12 00:00:00', '2011-06-13 00:00:00',
       '2011-06-14 00:00:00', '2011-06-16 00:00:00',
       '2011-06-19 00:00:00', '2011-06-22 00:00:00',
       '2011-06-23 00:00:00', '2011-06-24 00:00:00',
       '2011-06-25 00:00:00', '2011-06-26 00:00:00',
       '2011-06-27 00:00:00', '2011-06-28 00:00:00',
       '2011-07-01 00:00:00', '2011-07-02 00:00:00',
       '2011-07-03 00:00:00', '2011-07-05 00:00:00',
       '2011-07-06 00:00:00', '2011-07-07 00:00:00',
       '2011-07-08 00:00:00', '2011-07-09 00:00:00',
       '2011-07-10 00:00:00', '2011-07-12 00:00:00',
       '2011-07-16 00:00:00', '2011-07-18 00:00:00',
       '2011-07-19 00:00:00', '2011-07-20 00:00:00',
       '2011-07-21 00:00:00', '2011-07-22 00:00:00',
       '2011-07-23 00:00:00', '2011-07-24 00:00:00',
       '2011-07-25 00:00:00', '2011-07-26 00:00:00',
       '2011-07-27 00:00:00', '2011-07-28 00:00:00',
       '2011-07-29 00:00:00', '2011-07-30 00:00:00',
       '2011-07-31 00:00:00', '2011-08-01 00:00:00',
       '2011-08-02 00:00:00', '2011-08-03 00:00:00',
       '2011-08-05 00:00:00', '2011-08-09 00:00:00',
       '2011-08-10 00:00:00', '2011-08-12 00:00:00',
       '2011-08-13 00:00:00', '2011-08-14 00:00:00',
       '2011-08-15 00:00:00', '2011-08-16 00:00:00',
       '2011-08-17 00:00:00', '2011-08-18 00:00:00',
       '2011-08-20 00:00:00', '2011-08-21 00:00:00',
       '2011-08-23 00:00:00', '2011-08-24 00:00:00',
       '2011-08-25 00:00:00', '2011-08-26 00:00:00',
       '2011-08-27 00:00:00', '2011-08-28 00:00:00',
       '2011-08-30 00:00:00', '2011-08-31 00:00:00',
       '2011-09-01 00:00:00', '2011-09-03 00:00:00',
       '2011-09-07 00:00:00', '2011-09-08 00:00:00',
       '2011-09-09 00:00:00', '2011-09-10 00:00:00',
       '2011-09-11 00:00:00', '2011-09-13 00:00:00',
       '2011-09-14 00:00:00', '2011-09-16 00:00:00',
       '2011-09-17 00:00:00', '2011-09-18 00:00:00',
       '2011-09-20 00:00:00', '2011-09-21 00:00:00',
       '2011-09-22 00:00:00', '2011-09-23 00:00:00',
       '2011-09-24 00:00:00', '2011-09-27 00:00:00',
       '2011-09-28 00:00:00', '2011-09-29 00:00:00',
       '2011-09-30 00:00:00', '2011-10-02 00:00:00',
       '2011-10-03 00:00:00', '2011-10-04 00:00:00',
       '2011-10-05 00:00:00', '2011-10-07 00:00:00',
       '2011-10-08 00:00:00', '2011-10-09 00:00:00',
       '2011-10-10 00:00:00', '2011-10-12 00:00:00',
       '2011-10-13 00:00:00', '2011-10-14 00:00:00',
       '2011-10-15 00:00:00', '2011-10-16 00:00:00',
       '2011-10-17 00:00:00', '2011-10-18 00:00:00',
       '2011-10-19 00:00:00', '2011-10-20 00:00:00',
       '2011-10-21 00:00:00', '2011-10-22 00:00:00',
       '2011-10-23 00:00:00', '2011-10-24 00:00:00',
       '2011-10-25 00:00:00', '2011-10-27 00:00:00',
       '2011-10-29 00:00:00', '2011-10-30 00:00:00',
       '2011-10-31 00:00:00', '2011-11-01 00:00:00',
       '2011-11-02 00:00:00', '2011-11-03 00:00:00',
       '2011-11-05 00:00:00', '2011-11-06 00:00:00',
       '2011-11-07 00:00:00', '2011-11-08 00:00:00',
       '2011-11-09 00:00:00', '2011-11-10 00:00:00',
       '2011-11-11 00:00:00', '2011-11-12 00:00:00',
       '2011-11-13 00:00:00', '2011-11-15 00:00:00',
       '2011-11-16 00:00:00', '2011-11-17 00:00:00',
       '2011-11-18 00:00:00', '2011-11-19 00:00:00',
       '2011-11-20 00:00:00', '2011-11-21 00:00:00',
       '2011-11-22 00:00:00', '2011-11-23 00:00:00',
       '2011-11-25 00:00:00', '2011-11-26 00:00:00',
       '2011-11-27 00:00:00', '2011-12-01 00:00:00',
       '2011-12-02 00:00:00', '2011-12-06 00:00:00',
       '2011-12-07 00:00:00', '2011-12-08 00:00:00',
       '2011-12-09 00:00:00', '2011-12-10 00:00:00',
       '2011-12-11 00:00:00', '2011-12-12 00:00:00',
       '2011-12-13 00:00:00', '2011-12-14 00:00:00',
       '2011-12-15 00:00:00', '2011-12-16 00:00:00',
       '2011-12-17 00:00:00', '2011-12-18 00:00:00',
       '2011-12-19 00:00:00', '2011-12-21 00:00:00',
       '2011-12-22 00:00:00', '2011-12-23 00:00:00',
       '2011-12-24 00:00:00', '2011-12-25 00:00:00',
       '2011-12-27 00:00:00', '2011-12-28 00:00:00',
       '2011-12-29 00:00:00', '2012-01-01 00:00:00',
       '2012-01-03 00:00:00', '2012-01-04 00:00:00',
       '2012-01-05 00:00:00', '2012-01-06 00:00:00',
       '2012-01-07 00:00:00', '2012-01-08 00:00:00',
       '2012-01-09 00:00:00', '2012-01-14 00:00:00',
       '2012-01-15 00:00:00', '2012-01-16 00:00:00',
       '2012-01-17 00:00:00', '2012-01-18 00:00:00',
       '2012-01-19 00:00:00', '2012-01-20 00:00:00',
       '2012-01-21 00:00:00', '2012-01-23 00:00:00',
       '2012-01-24 00:00:00', '2012-01-25 00:00:00',
       '2012-01-26 00:00:00', '2012-01-27 00:00:00',
       '2012-01-29 00:00:00', '2012-02-01 00:00:00',
       '2012-02-03 00:00:00', '2012-02-05 00:00:00',
       '2012-02-06 00:00:00', '2012-02-07 00:00:00',
       '2012-02-08 00:00:00', '2012-02-09 00:00:00',
       '2012-02-10 00:00:00', '2012-02-11 00:00:00',
       '2012-02-12 00:00:00', '2012-02-13 00:00:00',
       '2012-02-14 00:00:00', '2012-02-17 00:00:00',
       '2012-02-18 00:00:00', '2012-02-19 00:00:00',
       '2012-02-20 00:00:00', '2012-02-24 00:00:00',
       '2012-02-26 00:00:00', '2012-03-01 00:00:00',
       '2012-03-02 00:00:00', '2012-03-03 00:00:00',
       '2012-03-05 00:00:00', '2012-03-06 00:00:00',
       '2012-03-07 00:00:00', '2012-03-09 00:00:00',
       '2012-03-10 00:00:00', '2012-03-11 00:00:00',
       '2012-03-12 00:00:00', '2012-03-13 00:00:00',
       '2012-03-15 00:00:00', '2012-03-16 00:00:00',
       '2012-03-17 00:00:00', '2012-03-19 00:00:00',
       '2012-03-20 00:00:00', '2012-03-21 00:00:00',
       '2012-03-23 00:00:00', '2012-03-24 00:00:00',
       '2012-03-25 00:00:00', '2012-03-28 00:00:00',
       '2012-03-29 00:00:00', '2012-03-30 00:00:00',
       '2012-04-04 00:00:00', '2012-04-05 00:00:00',
       '2012-04-06 00:00:00', '2012-04-07 00:00:00',
       '2012-04-09 00:00:00', '2012-04-12 00:00:00',
       '2012-04-13 00:00:00', '2012-04-14 00:00:00',
       '2012-04-16 00:00:00', '2012-04-19 00:00:00',
       '2012-04-20 00:00:00', '2012-04-21 00:00:00',
       '2012-04-22 00:00:00', '2012-04-24 00:00:00',
       '2012-04-28 00:00:00', '2012-04-30 00:00:00',
       '2012-05-02 00:00:00', '2012-05-03 00:00:00',
       '2012-05-04 00:00:00', '2012-05-05 00:00:00',
       '2012-05-06 00:00:00', '2012-05-07 00:00:00',
       '2012-05-08 00:00:00', '2012-05-09 00:00:00',
       '2012-05-12 00:00:00', '2012-05-14 00:00:00',
       '2012-05-15 00:00:00', '2012-05-16 00:00:00',
       '2012-05-17 00:00:00', '2012-05-19 00:00:00',
       '2012-05-20 00:00:00', '2012-05-21 00:00:00',
       '2012-05-22 00:00:00', '2012-05-25 00:00:00',
       '2012-05-26 00:00:00', '2012-05-28 00:00:00',
       '2012-05-29 00:00:00', '2012-05-30 00:00:00',
       '2012-06-02 00:00:00', '2012-06-03 00:00:00',
       '2012-06-04 00:00:00', '2012-06-06 00:00:00',
       '2012-06-07 00:00:00', '2012-06-08 00:00:00',
       '2012-06-10 00:00:00', '2012-06-11 00:00:00',
       '2012-06-14 00:00:00', '2012-06-15 00:00:00',
       '2012-06-16 00:00:00', '2012-06-17 00:00:00',
       '2012-06-18 00:00:00', '2012-06-19 00:00:00',
       '2012-06-20 00:00:00', '2012-06-27 00:00:00',
       '2012-06-28 00:00:00', '2012-07-06 00:00:00',
       '2012-07-07 00:00:00', '2012-07-08 00:00:00',
       '2012-07-09 00:00:00', '2012-07-11 00:00:00',
       '2012-07-12 00:00:00', '2012-07-15 00:00:00',
       '2012-07-16 00:00:00', '2012-07-17 00:00:00',
       '2012-07-20 00:00:00', '2012-07-26 00:00:00',
       '2012-07-31 00:00:00', '2012-08-01 00:00:00',
       '2012-08-02 00:00:00', '2012-08-06 00:00:00',
       '2012-08-08 00:00:00', '2012-08-10 00:00:00',
       '2012-08-11 00:00:00', '2012-08-12 00:00:00',
       '2012-08-14 00:00:00', '2012-08-15 00:00:00',
       '2012-08-16 00:00:00', '2012-08-17 00:00:00',
       '2012-08-18 00:00:00', '2012-08-19 00:00:00',
       '2012-08-22 00:00:00', '2012-08-24 00:00:00',
       '2012-08-31 00:00:00', '2012-09-02 00:00:00',
       '2012-09-04 00:00:00', '2012-09-05 00:00:00',
       '2012-09-06 00:00:00', '2012-09-08 00:00:00',
       '2012-09-09 00:00:00', '2012-09-10 00:00:00',
       '2012-09-11 00:00:00', '2012-09-12 00:00:00',
       '2012-09-15 00:00:00', '2012-09-16 00:00:00',
       '2012-09-19 00:00:00', '2012-09-21 00:00:00',
       '2012-09-22 00:00:00', '2012-09-23 00:00:00',
       '2012-09-26 00:00:00', '2012-09-30 00:00:00',
       '2012-10-01 00:00:00', '2012-10-05 00:00:00',
       '2012-10-06 00:00:00', '2012-10-07 00:00:00',
       '2012-10-08 00:00:00', '2012-10-09 00:00:00',
       '2012-10-10 00:00:00', '2012-10-11 00:00:00',
       '2012-10-12 00:00:00', '2012-10-13 00:00:00',
       '2012-10-16 00:00:00', '2012-10-20 00:00:00',
       '2012-10-22 00:00:00', '2012-10-25 00:00:00',
       '2012-10-30 00:00:00', '2012-11-01 00:00:00',
       '2012-11-02 00:00:00', '2012-11-03 00:00:00',
       '2012-11-05 00:00:00', '2012-11-09 00:00:00',
       '2012-11-10 00:00:00', '2012-11-11 00:00:00',
       '2012-11-12 00:00:00', '2012-11-13 00:00:00',
       '2012-11-14 00:00:00', '2012-11-15 00:00:00',
       '2012-11-16 00:00:00', '2012-11-17 00:00:00',
       '2012-11-21 00:00:00', '2012-11-23 00:00:00',
       '2012-11-24 00:00:00', '2012-11-26 00:00:00',
       '2012-11-28 00:00:00', '2012-11-29 00:00:00',
       '2012-11-30 00:00:00', '2012-12-07 00:00:00',
       '2012-12-08 00:00:00', '2012-12-09 00:00:00',
       '2012-12-10 00:00:00', '2012-12-11 00:00:00',
       '2012-12-15 00:00:00', '2012-12-16 00:00:00',
       '2012-12-17 00:00:00', '2012-12-18 00:00:00',
       '2012-12-31 00:00:00', '2013-01-03 00:00:00',
       '2013-01-05 00:00:00', '2013-01-07 00:00:00',
       '2013-01-08 00:00:00', '2013-01-09 00:00:00',
       '2013-01-10 00:00:00', '2013-01-11 00:00:00',
       '2013-01-12 00:00:00', '2013-01-13 00:00:00',
       '2013-01-14 00:00:00', '2013-01-17 00:00:00',
       '2013-01-18 00:00:00', '2013-01-21 00:00:00',
       '2013-01-22 00:00:00', '2013-01-23 00:00:00',
       '2013-01-25 00:00:00', '2013-01-27 00:00:00',
       '2013-01-31 00:00:00', '2013-02-02 00:00:00',
       '2013-02-03 00:00:00', '2013-02-04 00:00:00',
       '2013-02-05 00:00:00'], dtype=object)

In [24]:
date_mdf = metadf.sort_values(by = ['collection_date'])

In [27]:
date_mdf

,id,Library Layout,Instrument,collection_date,geo_location_name,geo_latitude,geo_longitude,host_id,age_days,weight_kg,...,birth_length_cm,sex,delivery_mode,zygosity,race,ethnicity,delivery_preterm,diet_milk,diet_weaning,age_months
1529,ERR1313377,PAIRED,Illumina MiSeq,2010-02-03 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,5.2,31.0,3.912,...,46.0,male,Cesarean,Dizygotic,Caucasian,Not Hispanic,False,fd,True,1.0
1528,ERR1313376,PAIRED,Illumina MiSeq,2010-02-03 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,5.1,31.0,4.394,...,51.0,male,Cesarean,Dizygotic,Caucasian,Not Hispanic,False,fd,False,1.0
1518,ERR1313421,PAIRED,Illumina MiSeq,2010-02-04 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,4.1,51.0,NaN,...,48.0,female,Cesarean,Dizygotic,Caucasian,Not Hispanic,True,fd,False,2.0
805,ERR1315032,PAIRED,Illumina MiSeq,2010-02-21 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,3.2,40.0,NaN,...,49.0,male,Vaginal,Monozygotic,Caucasian,Not Hispanic,True,bd,False,1.0
810,ERR1315031,PAIRED,Illumina MiSeq,2010-02-21 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,3.1,40.0,NaN,...,48.0,male,Vaginal,Monozygotic,Caucasian,Not Hispanic,True,bd,False,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1181,ERR1313423,PAIRED,Illumina MiSeq,2013-02-04 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,39.2,712.0,NaN,...,48.0,male,Cesarean,Monozygotic,African-American,Not Hispanic,True,NaN,NaN,23.0
811,ERR1313424,PAIRED,Illumina MiSeq,2013-02-04 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,42.2,682.0,NaN,...,47.0,male,Cesarean,Monozygotic,Caucasian,Not Hispanic,True,NaN,NaN,22.0
812,ERR1313422,PAIRED,Illumina MiSeq,2013-02-04 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,39.1,712.0,NaN,...,47.0,male,Cesarean,Monozygotic,African-American,Not Hispanic,True,NaN,NaN,23.0
915,ERR1310624,PAIRED,Illumina MiSeq,2013-02-05 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,16.2,1053.0,NaN,...,47.0,female,Cesarean,Dizygotic,Caucasian,Not Hispanic,True,NaN,NaN,35.0
836,ERR1310613,PAIRED,Illumina MiSeq,2013-02-05 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,16.1,1053.0,NaN,...,42.0,female,Cesarean,Dizygotic,Caucasian,Not Hispanic,True,NaN,NaN,35.0

In [29]:
date_mdf['host_id'].value_counts()#all the samples are unique, sample only for once

14.1    30
16.2    29
12.2    28
3.2     28
8.2     28
        ..
48.1     8
46.1     7
11.1     7
46.2     6
11.2     6
Name: host_id, Length: 80, dtype: int64